- if !acting_as? && (menu_facilities.any? || current_user.try(:administrator?))
  %li.dropdown.pull-right{class: controller.active_tab == "manage_facilites" ? "active" : ""}
    = link_to "#", class: "dropdown-toggle", data: { toggle: :dropdown, target: "#" } do
      = t("pages.manage", model: t("activerecord.models.facility", count: 2))
      %b.caret
    %ul.dropdown-menu
      - (current_user.try(:administrator?) ? Facility.all : menu_facilities).each do |facility|
        %li= link_to facility.name, dashboard_facility_path(facility)
